<%= form_for(@contato, html: {class: "dark-matter"}) do |f| %>
    <br/>
  <h1> Contatos </h1>
  <div class="field">
    <%= f.label :nome, "Nome:" %>
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :email, "E-mail:" %>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :tipo_id, "Tipo:" %>
    <%= f.collection_select(:tipo_id, @tipo_options_for_select, :id, :desc) %>
    <!-- collection_select(:post, :author_id, Author.all, :id, :name_with_initial, prompt: true) -->
  </div>
  
  <%= f.fields_for :endereco do |a| %>
    <div class="field">
      <%= f.label :rua %>
      <%= a.text_field :rua %>
    </div>
    
    <div class="field">
      <%= f.label :cidade %>
      <%= a.text_field :cidade %>
    </div>
    
    <div class="field">
      <%= a.label :estado %>
      <%= a.select :estado, options_for_estados(@contato.endereco.estado) %>
      
    </div>
    <!-- collection_select(:post, :author_id, Author.all, :id, :name_with_initial, prompt: true) -->
  <% end %>
  
  <div id="telefones">
   
    <%= f.fields_for :telefones do |t| %>
        <%= render partial: "tel_fields", locals: { f: t} %>
    <% end %>
    <div class="field">
      <%= f.label :telefones, ">" %><br/>
      <%= link_to_add_association('[Adicionar Telefone]', f, :telefones, partial: 'tel_fields') %><br/>
    </div>  
  </div>
  <br/>
  <div class="field">
    <%= f.label :obs, "Descrição:" %>
    <%= f.text_area :obs %>
  </div>
  
  <div class="actions">
    <%= f.submit t('buttons.send'), class: "button" %>
    <%= link_to t('buttons.back'), contatos_path, class: "button" %>
  </div>
  
  <% if @contato.errors.any? %>
    <div id="error_explanation">
     
      <h2><%= "#{pluralize(@contato.errors.count, '')}  #{t('messages.errors')}" %>  </h2>
      <ul>
      <% @contato.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  
<% end %>
