<div class="dark-matter">
  
  <script>
  $.notify("<%= notice %>", "success");
  </script>
<h1><%= "#{t('messages.listing')} #{@contatos.model_name.human(count: @contatos.count)}" %></h1>

<table>
  <thead>
    <tr>
      <th><%= @contatos.human_attribute_name("nome") %></th>
      <th><%= @contatos.human_attribute_name("email") %></th>
      <th><%= @contatos.human_attribute_name("tipo") %></th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @contatos.each do |contato| %>
      <tr style="background: <%= cycle('#f0f0f5', 'white') %>">
        <td><%= contato.nome %></td>
        <td><%= contato.email %></td>
        <td><%= contato.tipo.desc %></td>
        <td><%= link_to t('buttons.edit'), edit_contato_path(contato) %></td>
        <td><%= link_to t('buttons.destroy'), contato, method: :delete, data: { confirm: t('messages.confirm')} %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br/>
<%= paginate @contatos %>
<br><br><br>
<%= link_to t('buttons.new'), new_contato_path, class: "btn btn-warning" %>
<%= link_to t('buttons.home'), root_path, class: "btn btn-warning" %>
</div>